.website{ 
	width: 65vw;
	height: 600px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea4141;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e36464;
}
.codebase{ 
	width: 35vw;
}
@media only screen and (max-width: 800px) {
    .website{ 
	width: 70vw;
	height: 700px;
	}
}

.graphic{ 
	width: 33vw;
}

@media only screen and (max-width: 800px) {
    .graphic{ 
	width: 70%;
	}
}

.projects {
	text-align: center;
	
}

.navbar {
    width: 100%;
    text-align: center;
    z-index: 20;
}

.navlist-wrapper {
    width: 35%;
     text-align: center;
      margin: 0 auto;
      background-color: #ea4141;
      	 box-shadow: 0 1px 2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

@media only screen and (max-width:  1024px) and (orientation: portrait) {
    .navlist-wrapper {
        width: 100%;
    }
}

.navlist-wrapper li{
    display: inline-block;
     margin: 6px 1vw;
}


.navbarItem span{
  transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  color: #fff;
}

.navbarItem.active {
  border-bottom: 3px solid white;
}
.navbarItem:hover span{

  color:  #000;
}

.navbarItem:hover .active {
  border-bottom: 3px solid black;
}